<html>
        <head>
            <link rel='stylesheet' href='styles/group.css'>
                <title>TAG index</title>
                </head>
<div class="fra">
<frameset  cols="25%,25%,25%" style="font-size:20px;">
        <frame src="file:///C:/Users/adity/Downloads/Telegram%20Desktop/ChatExport_10_06_2019/messages.html" name="topleft">
        <frame src="file:///C:/Users/adity/Downloads/Telegram%20Desktop/ChatExport_10_06_2019/messages3.html" name="topright">
        <frame src="file:///C:/Users/adity/Downloads/Telegram%20Desktop/ChatExport_10_06_2019/messages2.html" name="botleft">
    </frameset>
</div>
