<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='../styles/group.css'>
</head>
<!-- <body > -->

<nav class="navbar navbar-inverse" >

  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="https://web.telegram.org"><span class="glyphicon glyphicon-send"></span> Telegram</a>
    </div>
    <ul class="nav navbar-nav"> -->
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"> Home</a></li>
    </ul>
    <a href="poweroff.html" class="navbar-right"><span class="glyphicon glyphicon-off" style="color:white;margin-top:21px;margin-left:20px;margin-right:20px;transform:scale(1.7)"></span>
    <a href="groups.html" class="navbar-right"><img src="work-team.jpg" style="height:30px; width: 30px; margin:13px 7px 5px 5px; border-radius: 5px;"></a>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <span class="glyphicon glyphicon-search" style="transform:scale(1.7);margin-right: 6px;margin-top:10px;color:white;"></span>
        <input type="text" style="" class="form-control" placeholder="Search" name="search"><button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

  </div>
</nav>

<!-- <div class="container">
  <!-- <textarea rows="20" cols="40">
  At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
  </textarea>

    <textarea rows="20" cols="40">
    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
    </textarea>

      <textarea rows="20" cols="40">
      At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
      </textarea>
    </div> -->
    <frameset cols = "30%, 40%, 30%">
        <frame name = "top" src = "https://stackoverflow.com/questions/4071396/split-by-comma-and-strip-whitespace-in-python" alt="frame1" />
        <frame name = "main" src = "https://www.w3schools.com/css/css_display_visibility.asp" />
        <frame name = "bottom" src = "https://www.w3schools.com/css/tryit.asp?filename=trycss_display_block" />
        <noframes>
            <body>The browser you are working does not support frames.</body>
        </noframes>
    </frameset>

<!-- </body> -->
</html>
