<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href="{{url_for('static',filename='telegrame.css')}}"/>
</head>
<body >

<nav class="navbar navbar-inverse" >

  <div class="container-fluid">

    <div class="navbar-header">

      <a class="navbar-brand" href="https://web.telegram.org"><span class="glyphicon glyphicon-send"></span> Telegram</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#"><span class="glyphicon glyphicon-home"> Home</a></li> -->
    </ul>
    <a href="poweroff.html" class="navbar-right"><span class="glyphicon glyphicon-off" style="color:white;margin-top:21px;margin-left:20px;margin-right:20px;transform:scale(1.7)"></span>
    <a href="groups.html" class="navbar-right"><img src="img/work-team.jpg" style="height:30px; width: 30px; margin:13px 7px 5px 5px; border-radius: 5px;"></a>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <span class="glyphicon glyphicon-search" style="transform:scale(1.7);margin-right: 6px;margin-top:10px;color:white;"></span>
        <input type="text" style="" class="form-control" placeholder="Search" name="search"><button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

  </div>
</nav>

<!-- <div class="container">
  <h3></h3>
  <div>Icons made by <a href="https://www.freepik.com/?__hstc=57440181.a216e07fe9ad863dc947bea0a78b598a.1559900400846.1559900400846.1559900400846.1&__hssc=57440181.2.1559900400848&__hsfp=378147902" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <p></p>
</div> -->

<div class="circle">
  <div class="text">Hello</div>
</div>

</body>
</html>
