body {
  /* background: #0d8aa5; */
}

.login-box {
 margin-top: 100px;
 text-align: center;
 width: 430px;
 height: 380px;
 background-color: white;
 padding: 60px;

}
img{
  height:118px;
  width:100px;
}
.block{
 display: inline;
 background-color: #111;
}
/* .center-block{
  background-color: :#111;
} */
.well{
  background-color: white;
}
.logo {
 height: 70px;
 margin-bottom: 30px;
}
.form-control {
 margin-bottom: 20px;
 /* background-color: #111; */
}
.btn {
 width: 100%;
 font-size: 16px;
}
